<p id="notice"><%= notice %></p>

<h1>Listing Seo Pages</h1>

<table>
  <thead>
    <tr>
      <th>City</th>
      <th>State</th>
      <th>Og description</th>
      <th>Slug</th>
      <th>Image tag</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @seo_pages.each do |seo_page| %>
      <tr>
        <td><%= seo_page.city %></td>
        <td><%= seo_page.state %></td>
        <td><%= seo_page.og_description %></td>
        <td><%= seo_page.slug %></td>
        <td><%= seo_page.image_tag %></td>
        <td><%= link_to 'Show', seo_show_path(seo_page.state, seo_page.city, seo_page.slug) %></td>
        <td><%= link_to 'Edit', edit_seo_page_path(seo_page) %></td>
        <td><%= link_to 'Destroy', seo_page, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Seo page', new_seo_page_path %>
