<!DOCTYPE html>
<html>
<head>
  <title><%= @title ? @title : "Find Divorce Lawyers in Your Area" %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
    <!-- Google Tag Manager -->
  <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-MVH455"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-MVH455');</script>
  <!-- End Google Tag Manager -->
  <meta name="google-site-verification" content="1ozB_kVk10LEaeAC-1rUtF1kHkcIhYXCM1M0FPtQLhE" />

</head>
<body>
	<% if notice || alert %>
	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <% end %>

	<%= render 'layouts/header' %>
	<%= yield %>
	<%= render 'layouts/footer' %>

</body>

</html>
